body{
    background-color: #534834;
}
.container{
    width: 530px;
    height: 500px;
    background-color: rgba(163, 143, 132, 0.77);
    position: absolute;
    left: 325px;
    top: 200px;
    border-radius: 15px;
    border: 3px solid;
}
.starting-content{
    position: absolute;
    left: 470px;
    top: 320px;
}
.buttons{
    position: absolute;
    top: -120px;
    left: 45px;
    display: flex;

}
.title{
    position: absolute;
    width: 300px;
    top: -120px;
}
.UpButtons{
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
}
.two{
    position: absolute;
    left: 530px;
    top: 100px;
}
.leaderboard{
    position: absolute;
    left: 20px;
}
.StartCat{
    border: black solid;
    padding: 10px;
}
.cat-fight-image{
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;

}
.nameinput{
    position: absolute;
    top: 330px;
    display: flex;
    left: 35px;

}

