.GameContent{
    background-color: #8D6B94;
    width: 800px;
    height: 800px;

}
input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 10px solid #c3a29e;
    border-radius: 6px;
    margin-bottom: 12px;
    background-c
    display : flex;
    flex-direction: column;
    padding: 15px;
}
.GameTitle{
    color: #747474;
    background-color: #fdfdfd;
    width: 170px;
    position: relative;
    left: 35%;
    border: 10px solid #c3a29e;
    border-radius: 100px;
}
.StoreContent{
    background-color: #c3a29e;
    width: 400px;
    height: 300px;
    position: relative;
    left: 807px;
    top: -800px;

}
.WholeGame{
    position:relative;
    top:80px;
    left:100px;
}
.StoreTitle{
    color: #747474;
    background-color: #fdfdfd;
    width: 19%;
    position: relative;
    left: 40%;
    border: 10px solid #E8DBC5;
    border-radius: 100px;
}
.Your_Name{
    position: absolute;
    top: -80px;
}
.ScoreBoard{
    position: absolute;
    top: -80px;
    left: 580px;
    border: 2px solid #000000;
    padding: 5px;

}
.Cat-Jpeg{
    position: absolute;
    top: 200px;
    left: 160px;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    left: 19%;
    top: 150px;

}
